# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorFlow/ML Model files
*.h5
*.ckpt
*.pb
*.onnx
weights/
models/

# Logs and debug files
*.log
debug/
